---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Practicante de Análisis de Datos",
    company: "Gilat Peru",
    description:
  "Actualización de bases de datos, automatización de la gestión de información y revisión documentaria vinculada al mantenimiento de la red. Coordinación con contratistas y áreas internas para garantizar la correcta operación de redes regionales."
  },
  {
    date: "Octubre 2025 – Diciembre 2025",
    title: "Practicante de Desarrollo y QA",
    company: "COMPINA S.A.C.",
    description:
      "Soporte en desarrollo y QA utilizando PHP, JSON, SQL y WordPress. Ejecución de pruebas funcionales y regresivas, monitoreo de entregas y validación de funcionalidades. Identificación y reporte de bugs, elaboración de casos de prueba y seguimiento de incidencias, logrando mejoras en estabilidad del sistema y reducción de errores en producción."

  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
