---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Agosto 2024 – noviembre 2024",
    title: "Asistente en Gestión de Bases de Datos",
    company: "Superintendencia Nacional de Administración Tributaria - SUNAT",
    description:
  "Automatización de reportes con Power BI y macros de Excel, limpieza de datos en registros historicos,creacion de dashboards dinamicos con Power BI."
  },
  {
    date: "Octubre 2025 – Diciembre 2025",
    title: "Practicante de Desarrollo y QA",
    company: "COMPINA S.A.C.",
    description:
      "Soporte en desarrollo y QA utilizando PHP, JSON, SQL y WordPress. Ejecución de pruebas funcionales y regresivas, monitoreo de entregas y validación de funcionalidades. Identificación y reporte de bugs, elaboración de casos de prueba y seguimiento de incidencias, logrando mejoras en estabilidad del sistema y reducción de errores en producción."

  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
